@import "./variables";

header{
    width:100%;
    height: 100vh;
    background: $bg-color;
}

nav{
    height:100px;
    width:100%;
    position: relative;
}

.logo{
    position: absolute;
    top:0;
    left:40px;
    line-height: 100px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: $logofont;
}

.menu{
    display: flex;
    line-height: 100px;
    position: absolute;
    right:40px;
    top:0;
}

.link a{
    padding-left:50px;
    color:#fff;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

header img{
    position: absolute;
    left:50%;
    top:50%;
    width: 200px;
    height:200px;
    transform:translate(-50%, -50%);
}

.header-gif::before{
    content: 'Hello';
    font-size: 85px;
    color:#fff;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    top:30%;
    left:-60px;
    letter-spacing: 4px;
    background: rgba(0,0,0,0.5);
}

.header-gif::after{
    content: 'There';
    font-size: 70px;
    color:#fff;
    position: absolute;
    left:50%;
    top:45%;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
}

.bottom{
    height:100px;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
}

.bottom-left{
    position: absolute;
    left:40px;
    line-height: 100px;
    color:#fff;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.bottom-right{
    position: absolute;
    right:40px;
    line-height: 100px;
    color:#fff;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}